body {
  background-color: #444;
  text-transform: uppercase;
  color: white;
}
h1, h2, h3, h4, h5, h6, h7 {
  font-family: 'Lato', sans-serif !important;
}
.row {
  max-width: 100%;
  margin: 0px auto;
  padding: 0px;
}
blockquote {
  color: #301421;
  border-left-color: #6B2D4A;
  font-style: italic;
}
.pull-right {
  top: 0;
  right: 0;
  position: absolute;
}

.logo {
  margin-top: 20px;
  padding: 50px;
}

.logo-container {
  background-color: white;
}

.logo h5 {
  margin: 0px;
}

.header {
  margin-top: 20px;
  position: relative;
}
.byline {
  background-color: #6B2D4A;
  padding: 100px;
}

.video-container {
  position:relative;
  padding-bottom:56.25%;
  padding-top:30px;
  height:0;
  overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
    height: 155px; /* .push must be the same height as .footer */
}
.centered {
  text-align: center;
}
