.container {
  width: 800px;
  margin: 10px auto;
}

.pull-right {
  top: 0;
  right: 0;
  position: absolute;
}

.logo h5 {
  margin: 0px;
}

.header {
  position: relative;
}

.logo {
  width: 50%;
}
